!!!
%html.chrometwo.legacyfalse{"xmlns:ng" => "http://angularjs.org"}
  %head
    %title= $lab_name
    %link{:href => "/chrome_themes/nimbus/css/chrometwo.css", :rel => "stylesheet"}/
    %script{:src => "/webassets/avalon/j/lib/require.js", :type => "text/javascript"}

    %link{:href => "#{$lab_context}/css/app.css?#{$lab_cache_buster}", :rel => "stylesheet"}/

    %script{:src => "#{$lab_context}/js/loader.js?#{$lab_cache_buster}", :type => "text/javascript"}


    = csrf_meta_tags

  %body.chrometwo
    #chrometwo
      #chromed-app-content.container{:style => "visibility: hidden;"}
        = yield
        :javascript
          window.breadcrumbs = [["Labs", "/labs/"], ["#{$lab_name}", "#{$lab_context}"]];
